src/*.exe
src/machinecoin
src/machinecoind
src/test_machinecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.machinecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
machinecoin-qt
Machinecoin-Qt.app

# Unit-tests
Makefile.test
machinecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
